---
name: commit-lint

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - edited
      - ready_for_review
  workflow_dispatch: {}

permissions:
  contents: read
  pull-requests: read
  actions: read
  statuses: read

jobs:
  commit-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: wagoid/commitlint-github-action@v6
