name: commitlint
on:
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch: {}

permissions:
  contents: read
  pull-requests: read
  actions: read
  statuses: read

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: wagoid/commitlint-github-action@v6
