name: ansible_ci

on:
  workflow_dispatch:
  push:
    branches: main
  schedule:
    - cron: '0 4 * * 6'

jobs:
  build_image:
    runs-on: self-hosted
    steps:
      -
        name: Checkout
        uses: actions/checkout@v6
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      -
        name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: hferreira/ansible:latest
      -
        name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}